@{
    var hayvan = ViewBag.hayvanBilgileri as Hayvan;
}

<h3 class="font-weight-bold text-white">
    Hayvan Bilgileri   @if (hayvan.CinsTur.Cins.CinsAdi.ToUpper() == "KÖPEK")
    {<i class="fa-solid fa-dog"></i> }
    else if (hayvan.CinsTur.Cins.CinsAdi.ToUpper() == "KEDI")
    {<i class="fa-solid fa-cat"></i>}
    else
    {<i class="fa-solid fa-dove"></i>}
    <hr />
</h3>
<div class="card text-white bg-dark mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="m-3 text-center">
                <img src="@if (hayvan.ImgUrl != null) { @hayvan.ImgUrl } else { @Url.Content("~/img/animal.png") }" class="card-img" alt="@hayvan.HayvanAdi" style="min-height:377px; object-fit:cover">
            </div>
        </div>
        <div class="col-md-8 align-self-start">
            <div class="d-flex flex-column">
                <div class="card-header font-weight-bold pl-0 ml-2 ml-lg-0">
                    <h3>@hayvan.HayvanAdi.ToUpper()<h3>
                </div>
                <div class="">
                    <h6 class="card-title ml-2 ml-lg-0">Türü : @hayvan.CinsTur.Tur.TurAdi</h6>
                    <h6 class="card-title ml-2 ml-lg-0">Cinsi : @hayvan.CinsTur.Cins.CinsAdi</h6>
                    <h6 class="card-title ml-2 ml-lg-0">Kilosu : @hayvan.HayvanKilo</h6>
                    <h6 class="card-title ml-2 ml-lg-0">Rengi : @hayvan.Renk.RenkAdi</h6>

                    <h6 class="card-title ml-2 ml-lg-0">
                        Cinsiyeti :@if (hayvan.HayvanCinsiyet == Cinsiyet.Erkek)
                        {
                            @:Erkek
                        }
                        else
                        {
                            @:Dişi
                        }
                    </h6>
                    <h6 class="card-title ml-2 ml-lg-0">Doğum Tarihi : @hayvan.HayvanDogumTarihi.ToString("dd-MM-yyyy")</h6>
                    <h6 class="card-title ml-2 ml-lg-0">
                        Sahiplik Tarihi : @hayvan.Sahipler.FirstOrDefault().SahiplenmeTarihi.ToString("dd-MM-yyyy")
                    </h6>
                    <h6 class="card-title ml-2 ml-lg-0">
                        Ölüm Tarihi :@if (hayvan.HayvanOlumTarihi != null)
                        {
                            @hayvan.HayvanOlumTarihi?.ToString("dd-MM-yyyy")
                        }
                        else
                        {
                            @:Hayatta
                        }
                    </h6>
                    <h6 class="card-title ml-2 ml-lg-0">
                        Hayvan Annesi : @if (hayvan.HayvanAnne != null)
                        {
                            @hayvan.HayvanAnne.HayvanAdi.ToUpper()
                        }
                        else
                        {
                            @: Bilinmiyor
                        }
                    </h6>
                    <h6 class="card-title ml-2 ml-lg-0">
                        Hayvan Babası : @if (hayvan.HayvanBaba != null)
                        {
                            @hayvan.HayvanBaba.HayvanAdi.ToUpper()
                        }
                        else
                        {
                            @: Bilinmiyor
                        }
                    </h6>
                    <div class="row">
                        <div class="d-flex flex-lg-row flex-column">
                            <a href="@Url.Action("MuayeneKayitlari", "Veteriner", new { HayvanId = hayvan.HayvanId })" class="btn btn-secondary m-2 m-lg-0 mb-lg-2 ml-lg-2">Muayene Kayıtlarını Gör</a>
                        </div>
                        <div class="d-flex flex-lg-row flex-column">
                            <a href="@Url.Action("MuayeneEt", "Veteriner", new { HayvanId = hayvan.HayvanId })" class="btn btn-secondary m-2 m-lg-0 mb-lg-2 ml-lg-2">Muayene Et</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

