@model MuayenelerViewModel


<div class="d-inline justify-content-between">
    <form asp-controller="Animal" asp-action="MuayeneKayitlari" method="get">
        <div class="form-row">
            <div class="form-group col-md">
                <label for="HekimAdi" class="text-white font-weight-bold">Hekim Adı</label>
                <input type="text" class="form-control" id="HekimAdi" asp-for="HekimAdi">
            </div>
            <div class="form-group col-md">
                <label for="baslangicTarihi" class="text-white font-weight-bold">Başlangıç Tarihi</label>
                <input type="date" class="form-control" id="baslangicTarihi" asp-for="ilkTarih">
            </div>
            <div class="form-group col-md">
                <label for="bitisTarihi" class="text-white font-weight-bold">Bitiş Tarihi</label>
                <input type="date" class="form-control" id="bitisTarihi" asp-for="sonTarih">
            </div>
            
            <div class="form-group col-auto">
                <label class="d-block text-white font-weight-bold">&nbsp;</label>
                <a class="btn btn-warning w-100" href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = 1, HekimAdi = "", ilkTarih = "", sonTarih = "", HayvanId = Model.HayvanId })">Reset</a>
            </div>
            <input type="hidden" asp-for="HayvanId" />
            <div class="form-group col-auto">
                <label class="d-block text-white font-weight-bold">&nbsp;</label>
                <button class="btn btn-primary w-100" type="submit">Filtrele</button>
            </div>

        </div>
    </form>
</div>
<div>
    <h3 class="text-white font-weight-bold">
        @if (Model.MuayenelerListesi != null && Model.MuayenelerListesi.Any())
        {
            var hayvanAdi = Model.MuayenelerListesi.FirstOrDefault()?.Hayvan?.HayvanAdi?.ToUpper();
            <text>@hayvanAdi İsimli Hayvanın Muayene Kayıtları</text>
        }
        else
        {
            <text>Muayene kaydı bulunamadı.</text>
        }
    </h3>

</div>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Muayene No</th>
            <th scope="col">Muayene Tarihi</th>
            <th scope="col">Sonraki Muayene Tarihi</th>
            <th scope="col">Sağlık Durumu</th>
            <th scope="col">Veteriner Hekim</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var muayene in Model.MuayenelerListesi)
        {
            <tr onclick="window.open('@Url.Action("MuayeneNo", "Animal", new { id = muayene.MuayeneId })', '_blank')" style="cursor:pointer">
                <th scope="row">@muayene.MuayeneId</th>
                <td>@muayene.MuayeneTarihi.ToString("dd.MM.yyyy  HH:mm")</td>
                <td>@muayene.SonrakiMuayeneTarihi?.ToString("dd.MM.yyyy")</td>
                <td>@muayene.Hastalik.HastalikAdi</td>
                <td>@muayene.Hekim.InsanAdi.ToUpper() @muayene.Hekim.InsanSoyadi.ToUpper() </td>
            </tr>
        }

    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-between">
    <div class="form-row">
        <div class="col-auto">
            <select class="custom-select mr-sm-2 d-inline-block float-start bg-dark text-white"
                    style="width: auto;"
                    onchange="window.location.href=this.value">
                <option selected>Sayfa Seçiniz</option>
                @for (int i = 1; i <= Model.SonSayfaNumarasi; i++)
                {
                    <option value="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = i, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(i). Sayfa
                    </option>
                }
            </select>
        </div>
    </div>
    <ul class="pagination justify-content-end float-end">
        <li class="page-item bg-dark text-white">
            <a class="page-link bg-dark text-white" href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = 1, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })" tabindex="-1">İlk</a>
        </li>
        @if (Model.SonSayfaNumarasi >= 3)
        {
            @if (Model.MevcutSayfa == 1)
            {
                <li class="page-item">
                    <a class="page-link bg-warning text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa)
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa + 1, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId})">
                        @(Model.MevcutSayfa+1)
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa +2, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa+2)
                    </a>
                </li>

            }
            else if (Model.MevcutSayfa == Model.SonSayfaNumarasi)
            {
                <li class="page-item">
                    <a class="page-link bg-dark text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa -2,  HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa+-2)
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa - 1, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih,HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa-1)
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-warning text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih, sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa)
                    </a>
                </li>

            }
            else
            {
                <li class="page-item">
                    <a class="page-link bg-dark text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa - 1, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa-1)
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-warning text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa)
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark text-white"
                       href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.MevcutSayfa + 1,  HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">
                        @(Model.MevcutSayfa+1)
                    </a>
                </li>

            }
        }
        <li class="page-item">
            <a class="page-link bg-dark text-white" href="@Url.Action("MuayeneKayitlari", "Animal", new { MevcutSayfa = Model.SonSayfaNumarasi, HekimAdi = Model.HekimAdi, ilkTarih = Model.ilkTarih?.ToString("yyyy-MM-dd"), sonTarih = Model.sonTarih?.ToString("yyyy-MM-dd"),HayvanId=Model.HayvanId })">Son</a>
        </li>
    </ul>
</nav>

@section scripts {

    <script>

        var ilkTarih = document.getElementById("baslangicTarihi").value;

        if (ilkTarih == "1975-01-01") {

            document.getElementById("baslangicTarihi").value = '';
        }
    </script>
}
