@model MuayeneEtViewModel
@section styles{
    <link href="~/css/scrollBar.css" rel="stylesheet" />
}

<div class="container">
    @if (TempData["modelError"] != null)
    {
        <script>
            alert("Forma Girilen Bazı Bilgiler Hatalı Girildi.\nGirilen Bilgileri Kontrol Ediniz.");
        </script>

    }

    <form asp-action="MuayeneEt" asp-controller="Veteriner" method="post">

        <div class="form-group">
            <label for="searchStok" class="font-weight-bold">Stok Ara:</label>
            <input type="text" id="searchStok" class="form-control" placeholder="Stok adına göre ara" onkeyup="filterStok()">
        </div>
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
            <table class="table table-hover table-dark" id="stokTable">
                <thead>
                    <tr>
                        <th>Stok Adı</th>
                        <th>Birimi</th>
                        <th>Miktar</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.StokLarListesi.Count; i++)
                    {
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="stok-@Model.StokLarListesi[i].Id"
                                           asp-for="MuayenedeKullanilanStoklar[@i].SeciliMi">

                                    <label class="custom-control-label" for="stok-@Model.StokLarListesi[i].Id">
                                        <span class="m-0 d-inline">@Model.StokLarListesi[i].StokAdi</span>
                                    </label>
                                </div>

                            </td>
                            <td>
                                @Model.StokLarListesi[i].Birim.BirimAdi
                            </td>
                            <td>
                                <input type="hidden"
                                       asp-for="MuayenedeKullanilanStoklar[@i].StokId"
                                       value="@Model.StokLarListesi[i].Id" />
                                <input type="number"
                                       asp-for="MuayenedeKullanilanStoklar[@i].StokCikisAdet"
                                       min="0"
                                       step="0.01"
                                       class="form-control"
                                       placeholder="Miktar giriniz">
                                <span class="row text-white bg-danger rounded mt-2 mx-0" asp-validation-for="MuayenedeKullanilanStoklar[@i]">
                                </span>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <hr />
        <div class="form-group row font-weight-bold">
            <label for="SonrakiMuayeneTarihi" class="col-md-3 col-form-label">Sonraki Muayene Tarihi</label>
            <div class="col-md-9">
                <input type="date" class="form-control" asp-for="SonrakiMuayeneTarihi" min="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="col mx-3 mb-0 mt-3">
                <span class="row font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="SonrakiMuayeneTarihi">
                </span>
            </div>
        </div>
        <hr class="font-weight-bold" />
        <div class="form-group row font-weight-bold">
            <label for="Aciklama" class="col-md-3 col-form-label">Açıklama</label>
            <div class="col-md-9">
                <textarea class="form-control" asp-for="Aciklama" placeholder="Açıklama" rows="5"></textarea>
            </div>
        </div>
        <hr />
        <div class="form-group row font-weight-bold">
            <label for="HastalikId" class="col-md-3 col-form-label">Saglik Durumu</label>
            <div class="col-md-9">
                <select class="form-control" asp-for="HastalikId" asp-items="Model.HastalikListesi">
                    <option selected disabled value="">Hayvanın Sağlık Durumunu Seçiniz</option>
                </select>
            </div>
            <div class="col mx-3 mb-0 mt-3">
                <span class="row font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HastalikId">
                </span>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="searchKan" class="font-weight-bold">Kan Testi Ara:</label>
            <input type="text" id="searchKan" class="form-control" placeholder="Kan testinin adına göre ara" onkeyup="filterKanDegerleri()">
        </div>
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
            <table class="table table-hover table-dark" id="kanTestleriTable">
                <thead>
                    <tr>
                        <th>Kan Testi</th>
                        <th>Birimi</th>
                        <th>Alt Limit</th>
                        <th>Üst Limit</th>
                        <th>Test Sonucu</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.KanTestleriListesi.Count; i++)
                    {
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="kanTesti-@Model.KanTestleriListesi[i].KanDegerleriId"
                                           asp-for="MuayendeYapilanKanTestleri[@i].SeciliMi">

                                    <label class="custom-control-label"
                                           for="kanTesti-@Model.KanTestleriListesi[i].KanDegerleriId">
                                        <span class="m-0 d-inline">
                                            @Model.KanTestleriListesi[i].KanTestiAdi
                                        </span>
                                    </label>
                                </div>

                            </td>
                            <td>
                                @Model.KanTestleriListesi[i].KanTestiBirimi
                            </td>
                            <td>
                                @Model.KanTestleriListesi[i].AltLimit
                            </td>
                            <td>
                                @Model.KanTestleriListesi[i].UstLimit
                            </td>
                            <td>
                                <input type="hidden"
                                       asp-for="MuayendeYapilanKanTestleri[@i].KanDegerleriId"
                                       value="@Model.KanTestleriListesi[i].KanDegerleriId" />
                                <input type="number"
                                       asp-for="MuayendeYapilanKanTestleri[@i].KanDegeriValue"
                                       min="0"
                                       step="0.01"
                                       class="form-control"
                                       placeholder="Kan Testi Sonucu">
                                <span class="row text-white bg-danger rounded mt-2 mx-0" asp-validation-for="MuayendeYapilanKanTestleri[@i]">
                                </span>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <input type="hidden" asp-for="@Model.HekimId" />
        <input type="hidden" asp-for="@Model.HayvanId" />
        <input type="hidden" asp-for="@Model.Imza" />

        <div class="col mt-5 mb-2 px-0">
            <button type="submit" class="col btn btn-dark rounded mb-2">Muayeneyi Tamamla</button>
        </div>
        <div class="col my-2 px-0">
            <button type="button" id="tahmin" class="col btn btn-dark rounded mb-2">Tahmin Yap</button>
        </div>
    </form>
</div>

@section scripts{

    <script>
        function filterStok() {
            let searchInput = document.getElementById("searchStok").value.toLowerCase();
            let rows = document.querySelectorAll("#stokTable tbody tr");

            rows.forEach(row => {
                let stokAdi = row.cells[0].textContent.toLowerCase();
                row.style.display = stokAdi.includes(searchInput) ? "" : "none";
            });
        }
    </script>

    <script>
        function filterKanDegerleri() {
            let searchInput = document.getElementById("searchKan").value.toLowerCase();
            let rows = document.querySelectorAll("#kanTestleriTable tbody tr");

            rows.forEach(row => {
                let testAdi = row.cells[0].textContent.toLowerCase();
                row.style.display = testAdi.includes(searchInput) ? "" : "none";
            });
        }
    </script>

    <script>

        document.getElementById("tahmin").addEventListener("click", function () {
            // Tüm checkboxları seç
            const kanTestiCheckboxes = document.querySelectorAll("#kanTestleriTable input[type='checkbox']");
            let seciliKanTestleri = [];

            kanTestiCheckboxes.forEach((checkbox) => {
                if (checkbox.checked) { // Sadece seçili olanları al
                    let row = checkbox.closest("tr"); // Checkbox'ın bulunduğu satır
                    let kanDegerleriId = checkbox.id.split("-")[1]; // ID'den Kan Testi ID'sini al
                    let testSonucuInput = row.querySelector("input[type='number']"); // Test sonucu inputunu seç
                    let testSonucu = testSonucuInput ? parseFloat(testSonucuInput.value) : 0; // Sonucu al
                    seciliKanTestleri.push({
                        KanDegerleriId: kanDegerleriId,
                        TestSonucu: testSonucu || null
                    });
                }
            });

            // JSON'u oluştur
            const jsonData = JSON.stringify(seciliKanTestleri);

            // API'ye gönder
            fetch("http://127.0.0.1:5002/api/TahminYap", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: jsonData
            })
                .then(response => {
                    return response.json(); // JSON formatına ayrıştırma
                    console.log(response.json);
                })
                .then(data => {
                    // Gelen JSON verisini işleme
                    if (data.status === "success") {
                        alert(`${data.message.toUpperCase()}\n\nMuayene Tahmini: ${data.tahmin.toUpperCase()}`);
                    } else if (data.status === "fail") {
                        if (data.details != null)
                            alert(`Hata: ${data.message}\n\nDetay: ${data.details || "Detay yok"}`);
                        else
                            alert(`Hata: ${data.message}`);
                    }
                    else {
                        alert(`Bilinmeyen bir hata oluştu.`);
                    }
                })
                .catch(error => {
                    console.log(error);
                    // Hataları yakala ve göster
                    alert(`Bir hata oluştu!\n\nHata Detayı: ${error.message}`);
                });
        });

    </script>


}


